<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dinesh's Top Picks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <center> <h1>🛒 Dinesh's Amazon Recommendations</h1></center>

    <div class="product-container">
        <!-- Product 1 -->
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/51Q8DUDT2eL._SX569_.jpg" alt="Product">
            <h2>Jbl C100Si Jbl Pure Bass Sound, One Button Multi-Function Remote, Angled Buds Wired In Ear Earphones With Mic For Comfort Fit (Black)</h2>
            <p>Color Black | Brand JBL | Made in India 🇮🇳</p>
            <a href="https://amzn.to/455BHJ4" target="_blank">Buy Now</a>
        </div>

        <!-- Product 2 -->
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/61XtYoH-kGL._SX569_.jpg" alt="Product">
            <h2>ZEBRONICS Zeb-Jaguar Wireless Mouse, 2.4GHz with USB Nano Receiver, High Precision Optical Tracking, 4 Buttons, Plug & Play, Ambidextrous, for PC/Mac/Laptop (Black+Grey)</h2>
            <p>Color Black + Grey | Brand Zebronics | Connectivity Wireless</p>
            <a href="https://amzn.to/43qomd4" target="_blank">Buy Now</a>
        </div>

        <!-- Product 3 -->
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/51uBvrhzL1L._SX569_.jpg" alt="Product">
            <h2>MM9E Non-Slip Finish What You Start, Motivational Quotes A28 Printed Mouse Pad</h2>
            <p>Color black | Brand MM9E</p>
            <a href="https://amzn.to/3S4sYiN" target="_blank">Buy Now</a>
